@font-face {
    font-family: "Stengazeta";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/Stengazeta-Regular_5.woff) format('woff'),
         url(../fonts/Stengazeta-Regular_5.woff2) format('woff2');
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: white;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}


/* ---------------------------------------------------------------- */

.header {
    background-color: #86c8ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.header__nav-list {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;

}

.header__nav-link {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.header__nav-title {
    list-style: none;
}

.header__profile {
    width: 106px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7c9ef5;
    flex-shrink: 0;
}

.header__logo {
    padding-left: 20px;
    flex-shrink: 0;
}

/* ---------------------------------------------------------------- */

.preview {
    margin: 39px 0px 31px 20px;
    display: flex;
    justify-content: space-between;
    max-height: 676px;
}

.preview__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 66px;
    max-height: 555px;
}

.preview__content-title {
    max-width: 640px;
    font-family: "Stengazeta";
    font-weight: 400;
    font-size: 80px;
    color: #86C8FF;
}

.preview__content-text {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.preview__content-bottom {
    background-color: #7c9ef5;
    max-width: 290px;
    max-height: 75px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px 0px;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.preview__content-descr {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    max-width: 490px;
    margin: 0px;
}

.preview__image-nat {
    height: 100%;
    width: 100%;
}

/* -------------------------------------------------------- */

.about {
    background-color: #ecf4ff;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.about__left, 
.about__right {
    max-height: 635px;
}

.about__image-left {
    height: 100%;
}

.about__image-right {
    height: 100%;
    padding-right: 20px;
}

.about__content {
    display: flex;
    flex-direction: column;
    width: 700px;
    gap: 67px;
    align-self: center;
    margin: 87px 0 67px;
}

.about__wrapper {
    margin: 0 auto;
}

.about__content-top {
    background-color: #86c8ff;
    padding: 21px 42px 5px;
    border-radius: 40px;
    max-width: 373px;
    margin: 0 auto 31px;
}

.about__content-title {
    font-family: "Stengazeta", sans-serif;
    font-size: 80px;
    font-weight: 400;
    color: #fff;
}

.about__content-subtitle {
    max-width: 440px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
}


.about__content-center {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400px;
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.about__content-left,
.about__content-right {
    background-color: #fff;
    max-width: 410px;
    padding: 27px 16px;
    border-radius: 5px;
}

.about__content-left {
    align-self: flex-start;
}

.about__content-right {
    align-self: flex-end;
}

/* ----------------------------------------------------- */

.for-whom {
    display: flex;
    justify-content: space-between;
    padding-top: 47px;
}

.for-whom__image {
    height: 100%;
}

.for-whom__content {
    max-width: 437px;
    margin-right: 70px;
}

.for-whom__content-title {
    font-family: "Stengazeta", sans-serif;
    font-size: 80px;
    color: #86C8FF;
}

.for-whom__content-center-title {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700px;
}

.for-whom__content-center-text {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400px;
}

.for-whom__content-bottom {
    margin-top: 153px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.for-whom__content-bricks {
    background-color: #ECF4FF;
    border-radius: 20px;
    max-width: 100%;
    height: 30%;
    text-align: center;
    padding: 20px 0;
}

.for-whom__brick-text {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
}

/* ---------------------------------------------------------- */

.reviews {
    background-color: #ECF4FF;
    padding-bottom: 110px;
}

.reviews__title {
    font-family: "Stengazeta", sans-serif;
    font-size: 80px;
    color: #86C8FF;
}

.reviews__top {
    padding: 83px 0px 60px 20%;
}

.reviews__bottom {
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.reviews__bottom-first {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.reviews__bottom-second {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.reviews__brick {
    max-width: 420px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #fff;
    border-radius: 20px;
    padding: 17px 14px 45px;
    box-shadow: 0px 25px 30px 0px rgba(0, 0, 0, 0.2);
}

.reviews__brick-title {
    display: flex;
    align-items: center;
    gap: 26px;
}

.reviews__brick-ring {
    width: 75px;
    height: 75px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.reviews__brick-name {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.reviews__brick-text {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* ---------------------------------------------------------- */

.team {
    display: flex;
    justify-content: center;
    padding: 100px 0 75px 0;
    gap: 70px;

    background-image: url(/images/team_head-image.png);
    background-repeat: no-repeat;
    background-position: 0 200px;
}

.team_title {
    font-family: 'Stengazeta', sans-serif;
    font-size: 80px;
    color: #86C8FF;
}

.team_bricks {
    display: flex;
    gap: 23px;
}

.team_brick-liza {
    background-color: #86C8FF;
    border-radius: 20px;
    padding: 23px 29px 18px 29px;
    box-shadow: 0px 25px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 5px -4px 15px 0px rgba(255, 255, 255, 1);
}

.team_brick-yuri {
    background-color: #86C8FF;
    border-radius: 20px;
    padding: 23px 29px 18px 29px;
    box-shadow: 0px 25px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 5px -4px 15px 0px rgba(255, 255, 255, 1);
}

.team_brick-kirill {
    background-color: #86C8FF;
    border-radius: 20px;
    padding: 23px 29px 18px 29px;
    box-shadow: 0px 25px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 5px -4px 15px 0px rgba(255, 255, 255, 1);
}

.team_brick-photo {
    max-width: 240px;
    max-height: 240px;
}

.team_brick-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.team_brick-name {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.team_brick-text {
    display: flex;
    flex-direction: column;
    gap: 155px;
}

/* ---------------------------------------------------------- */

.footer {
    background-color: #7C9EF5;
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 14px;
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 31px 90px 20px 52px;
    gap: 70px;
}

.footer__social-title {
    margin-bottom: 20px;
}

.footer__links {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__contacts-bricks {
    display: flex;
    gap: 60px;
}

.footer__brick-name {
    font-weight: 700;
}

.footer__brick-prof {
    margin-bottom: 40px;
}

.footer__nav-list {
    list-style: none;
    margin: 0;
}

.footer__nav-title {
    margin-bottom: 10px;
}

.footer__copyright {
    text-align: center;
}

/* ---------------------------------------------------------- */

@media (max-width: 1024px) {
    .header {
        min-height: auto;
        gap: 16px;
        align-items: center;
    }

    .header__profile {
        min-height: 72px;
        width: 72px;
    }

    .header__nav-link {
        font-size: 18px;
    }

    .preview {
        flex-direction: column;
        align-items: center;
    }

    .preview__content {
        margin-top: 0;
    }

    .about {
        padding: 30px 0;
    }

    .preview__content-title,
    .about__content-title,
    .for-whom__content-title,
    .reviews__title,
    .team_title {
        font-size: clamp(42px, 8vw, 64px);
        text-align: center;
    }

    .preview__content-descr,
    .about__content-center,
    .for-whom__content-center-title,
    .for-whom__content-center-text {
        font-size: 20px;
        text-align: center;
    }

    .about__left,
    .about__right,
    .preview__images,
    .for-whom__left {
        /* width: 100%; */
        max-width: 500px;
    }

    .for-whom__content,
    .about__content {
        align-items: center;
    }

    .for-whom__content-bottom {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .header__logo {
        padding-left: 0;
    }

    .header__nav-list {
        gap: 14px;
    }

    .header__nav-link {
        font-size: 15px;
    }

    .preview {
        margin: 20px 12px;
    }

    .preview__content-title,
    .about__content-title,
    .for-whom__content-title,
    .reviews__title,
    .team_title {
        font-size: 30px;
    }

    .preview__content-bottom {
        width: 100%;
        max-width: none;
        padding: 16px 10px;
        font-size: 18px;
    }

    .preview__content-descr,
    .about__content-center,
    .for-whom__content-center-title,
    .for-whom__content-center-text {
        font-size: 17px;
    }

    .about__image-left,
    .about__image-right {
        max-height: 250px;
        max-width: 150px;
    }

    .about__content-top {
        max-height: 100px;
        max-width: 200px;
    }

    .about__content {
        gap: 20px;
    }

    .about__content-center {
        max-width: 250px;
    }

    .reviews {
        padding: 0 12px 70px;
    }

    .reviews__bottom-first,             /*отзывы в колонну */
    .reviews__bottom-second {
        display: flex;
        
    }

    /* отзывы */

    .reviews__brick {
        width: 100%;
        padding: 14px;
    }

    .team {
        padding: 50px 12px;
    }

    .team_bricks {
        display: flex;
        flex-direction: column;
    }

    .team_brick-text {
        gap: 30px;
    }
}

@media (max-width: 470px) {

    .header__logo,
    .footer__logo {
        margin-left: 10px;
        width: 19px;
        height: 19px;
    }

    .header__profile-logo {
        width: 15px;
        height: 17px;
    }

    .header__profile {
        min-height: 0;
        width: 35px;
        height: 35px;
    }


    .header__nav-link,
    .about__content-text,
    .for-whom__brick-text,
    .for-whom__content-center-text,
    .for-whom__content-center-title,
    .reviews__brick-text,
    .reviews__brick-name,
    .team_brick-title,
    .team_brick-name {
        font-size: 6px;
    }

/* ---------------------------------------------------------- */

    .preview__content-text,
    .preview__content {
        max-width: 300px;
        gap: 20px;
    }    

    .preview__content-descr,
    .about__content-subtitle {
        font-size: 10px;
    }

/* ---------------------------------------------------------- */

    .about {
        padding: 0;
    }

    .about__content {
        max-width: 200px;
        margin: 0;
        padding: 30px 0;
    }

    .about__content-top {
        display: flex;
        max-width: 150px;
    }

    .about__content-title,
    .for-whom__content-title,
    .team_title,
    .reviews__title {
        font-size: 20px;
    }

    .about__image-left,
    .about__image-right {
        height: 150px;
        padding: 0;
    }

    .about__content-left,
    .about__content-right {
        max-width: 150px;
        padding: 20px 10px;
    }

/* ---------------------------------------------------------- */

    .for-whom {
        align-items: flex-end;
    }   

    .for-whom__left {
        width: 157px;
        height: 157px;
    }

    .for-whom__content {
        max-width: 100px;
        margin: 0 50px 12px 0;
    }

    .for-whom__content-bottom {
        margin-top: 15px;
    }

    .for-whom__content-bricks {
        max-width: 100%;
        padding: 10px 0;
    }

/* ---------------------------------------------------------- */

    .reviews__top {
        display: flex;
        padding: 21px 10px;
    }

    .reviews__brick-title {
        gap: 6px;
    }

    .reviews__brick {
        max-width: 105px;
        max-height: 46px;
        padding: 6px 8px;
        gap: 7px;
        border-radius: 5px;
    }

    .reviews__brick-ring {
        width: 15px;
        height: 15px;
    }

/* ---------------------------------------------------------- */

    .team {
        background-size: 123px 119px;
    }

    .team_brick-photo {
        width: 75px;
        height: 75px;

    }

    .team_brick-kirill,
    .team_brick-liza,
    .team_brick-yuri {
        padding: 10px 15px 8px;
        box-shadow: inset 5px -4px 15px 0px rgba(255, 255, 255, 0.7);
    }

/* ---------------------------------------------------------- */

    .footer {
        padding: 7px 0;
        gap: 15px;
        height: 100px;
    }

    .footer__links {
        width: 90%;
    }

    .footer__nav-list {
        padding: 0;
    }

    .footer__nav-title,
    .footer__brick-prof {
        margin-bottom: 3px;
    }

    .footer__social-title {
        margin-bottom: 7px;
    }

    .footer__contacts-bricks,
    .footer__contacts {
        gap: 7px;
    }

    .footer__social img{
        width: 10px;
        height: 10px
    }

    .footer__brick-number img {
        width: 4px;
        height: 6px;
    }

    .footer__nav-title, 
    .footer__social-title,
    .footer__contacts-title,
    .footer__brick-name,
    .footer__copyright-text {
        font-size: 5px;
    }

    .footer__brick-prof,
    .footer__brick-number {
        font-size: 4px;
    }
}