@font-face {
    font-family: "Stengazeta";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/Stengazeta-Regular_5.woff) format('woff'),
         url(../fonts/Stengazeta-Regular_5.woff2) format('woff2');
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: white;
}

.main {
    padding: 50px 105px 40px 85px;
}

img {
    max-width: 100%;
    height: auto;
}

/* ---------------------------------------------------------------- */

.header {
    background-color: #86c8ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.header__nav-list {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;

}

.header__nav-link {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.header__nav-title {
    list-style: none;
}

.header__profile {
    width: 106px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7c9ef5;
    flex-shrink: 0;
}

.header__logo {
    padding-left: 20px;
    flex-shrink: 0;
}
/* ---------------------------------------------------------------- */

.guides-head {
    display: flex;
    gap: 42px;
    margin-bottom: 90px;
}

.head-name {
    background-color: #ECF4FF;
    border-radius: 20px;
    width: 67%;
    max-width: 870px;
    padding: 27px 0 20px 0px;
}

.head-name_title-top {
    font-family: 'Stengazeta', sans-serif;
    font-size: 80px;
    color: #86C8FF;
    margin-left: 47px;
}


.head-search {
    width: 33%;
    max-width: 288px;
    border-radius: 20PX;
    border: solid 3px #7C9EF5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 28px 25px 40px;
}

.head-search_title {
    font-family: 'Stengazeta', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #7C9EF5;
}

.head-search_input {
    background-color: #ECF4FF;
    border-radius: 10px;
    width: 90%;
    max-width: 287px;
    display: flex;
    justify-content: center;
}

.head-search_input-text {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 16px;
}

/* ---------------------------------------------------------------- */


.guides__edu {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.guides__title {
    font-family: 'Stengazeta', sans-serif;
    color: #7C9EF5;
    font-size: 40px;
}

.guides__subtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 18px;
}

.guides__text {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 1.8;
}

.guides__class {
    display: flex;
    gap: 42px;
}

.guides__big {
    background-color: #ECF4FF;
    border-radius: 10px;
    width: 100%;
    max-width: 715px;
    padding: 27px 108px 53px 47px;
}

.guides__small {
    background-color: #ECF4FF;
    border-radius: 10px;
    width: 100%;
    max-width: 320px;
    padding: 17px 0 0 26px;
}



/* ---------------------------------------------------------------- */


.footer {
    background-color: #7C9EF5;
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 14px;
    height: 247px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 31px 90px 20px 52px;
    gap: 70px;
}

.footer__social-title {
    margin-bottom: 20px;
}

.footer__links {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__contacts-bricks {
    display: flex;
    gap: 60px;
}

.footer__brick-name {
    font-weight: 700;
}

.footer__brick-prof {
    margin-bottom: 40px;
}

.footer__nav-list {
    list-style: none;
    margin: 0;
}

.footer__nav-title {
    margin-bottom: 10px;
}

.footer__copyright {
    text-align: center;
}

@media (max-width: 1024px) {
    .header {
        min-height: auto;
        gap: 16px;
        align-items: center;
    }

    .header__profile {
        min-height: 72px;
        width: 72px;
    }

    .header__nav-link {
        font-size: 18px;
    }
}

@media (max-width: 600px) {

    .header__logo {
        padding-left: 0;
    }

    .header__nav-list {
        gap: 14px;
    }

    .header__nav-link {
        font-size: 15px;
    }
}

@media (max-width: 470px) {

    .main {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 240px;
    }

    .header__logo,
    .footer__logo {
        margin-left: 10px;
        width: 19px;
        height: 19px;
    }

    .header__profile-logo {
        width: 15px;
        height: 17px;
    }

    .header__profile {
        min-height: 0;
        width: 35px;
        height: 35px;
    }

    .head-name_title-top,
    .head-search_title,
    .guides__title {
        font-size: 20px;
    }


    .header__nav-link,
    .head-search_input-text,
    .guides__text,
    .guides__subtitle {
        font-size: 6px;
    }

/* ----------------------------------  ------------------------- */

    .guides-head {
        flex-direction: column;
        margin-bottom: 45px;
        width: 100%;
    }

    .head-name {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .head-search {
        width: 100%;
        padding: 20px 0;
    }

    .head-search_input,
    .head-search_input-text {
        max-width: 66%;
        height: 30px;
    }


    .head-name_title-top {
        margin: 0;
    }

/* ----------------------------------  ------------------------- */

    .guides__edu {
        justify-content: center;
    }

    .guides__class {
        flex-direction: column;
        gap: 15px;
        max-width: 270px;
    }

    .guides__text,
    .guides__title,
    .guides__subtitle {
        max-width: 200px;
    }

    .guides__big,
    .guides__small {
        width: 85%;
        padding: 20px;
    }

/* ---------------------------------- footer ------------------------- */

    .footer {
        padding: 7px 0;
        gap: 15px;
        height: 100px;
    }

    .footer__links {
        width: 90%;
    }

    .footer__nav-list {
        padding: 0;
    }

    .footer__nav-title,
    .footer__brick-prof {
        margin-bottom: 3px;
    }

    .footer__social-title {
        margin-bottom: 7px;
    }

    .footer__contacts-bricks,
    .footer__contacts {
        gap: 7px;
    }

    .footer__social img{
        width: 10px;
        height: 10px
    }

    .footer__brick-number img {
        width: 4px;
        height: 6px;
    }

    .footer__nav-title, 
    .footer__social-title,
    .footer__contacts-title,
    .footer__brick-name,
    .footer__copyright-text {
        font-size: 5px;
    }

    .footer__brick-prof,
    .footer__brick-number {
        font-size: 4px;
    }

}

@media (max-width: 335px) {
    .header__nav-list {
        gap: 6px;
    }

    .footer__logo {
        margin: 0;
    }

    .footer {
        gap: 10px;
    }
}