@font-face {
    font-family: "Stengazeta";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/Stengazeta-Regular_5.woff) format('woff'),
         url(../fonts/Stengazeta-Regular_5.woff2) format('woff2');
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #fff;
}

body {
    background-color: #ecf4ff;
}

p {
    font-family: 'Inter', sans-serif;
}

/* ---------------------------------------------------------------- */

.header {
    background-color: #86c8ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header__nav-list {
    display: flex;
    gap: 50px;
}

.header__nav-link {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.header__nav-title {
    list-style: none;
}

.header__profile {
    width: 106px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7c9ef5;
}

.header__logo {
    padding-left: 20px;
}

/* ---------------------------------------------------------------- */

.main {
    padding: 81px 114px 126px 120px;
    margin: 0 auto;
}


.back_button {
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.arrow {
    margin-right: 15px;
}

/* ---------------------------------------------------------------- */

.content {
    display: flex;
    flex-direction: column;
    gap: 85px;
}

.content_bg {
    background-color: #fff;
    margin: 0 auto;

    width: 1300px;
    height: 680px;
    max-height: 680px;
    left: 17%;

    position: absolute;
    z-index: -1;
}

/* ---------------------------------------------------------------- */

.info {
    display: flex;
    align-items: center;
    gap: 57px;
    padding: 0 50px;
    height: 680px;
}

.info_image-firefly {
    width: 300px;
    height: 300px;
}



.info_description-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 76px;
    font-family: 'Inter', sans-serif;
}

.info_description-author {
    display: flex;
    gap: 20px;
    font-size: 24px;
    margin-bottom: 82px;
}

.info_description-author__black {
    color: #000;
}

.info_description-author__pink {
    color: #7c9ef5;
}

.info_description-about-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 15px;
}

.info_description-about-text {
    max-width: 1000px;
}

.more-text {
    display: none;
}

.more-text.open {
    display: inline;
}

.info_descriprion-buttons {
    margin-top: 120px;
}

.info__button {
    display: inline;
    font-family: 'Inter', sans-serif;
    color:#7C9EF5
}

.info__button:hover {
    color:#5f7abd;
    text-decoration: underline;
}

/* ---------------------------------------------------------------- */

.description_button-buy {
    background-color: #7c9ef5;
    padding: 15px 42px;
    border-radius: 10px;
    margin-right: 35px;
}

.description_button-cart {
    background-color: #fff;
    padding: 15px 20px;
    border: #7c9ef5 solid 1px;
    border-radius: 10px;
    color: #7C9EF5;
}


/* ---------------------------------------------------------- */

@media (max-width: 1024px) {
    .header {
        height: auto;
        gap: 16px;
        align-items: center;
    }

    .header__profile {
        min-height: 72px;
        width: 72px;
    }

    .header__nav-link {
        font-size: 18px;
    }
}

@media (max-width: 600px) {

    .header__logo {
        padding-left: 0;
    }

    .header__nav-list {
        gap: 14px;
    }

    .header__nav-link {
        font-size: 15px;
    }
}

@media (max-width: 470px) {

    .header__logo,
    .header__logo img {
        margin-left: 10px;
        width: 19px;
        height: 19px;
    }

    .info {
        height: auto;
    }

    .header__profile-logo,
    .header__profile-logo img {
        width: 15px;
        height: 17px;
    }

    .header__nav-list {
        margin: 0;
    }

    .header__profile {
        min-height: 0;
        width: 35px;
        height: 35px;
    }

    .info_description-title {
        font-size: 10px;
    }

    .header__nav-link,
    .back_button,
    .info_description-author,
    .info_description-about,
    .description_button-buy,
    .description_button-cart {
        font-size: 6px;
    }

/* ---------------------------------------------------------- */

    .info {
        padding: 0;
    }

    .main {
        padding: 10px 20px;
    }

    .info {
        gap: 30px
    }

    .content {
        gap: 50px;
    }

    .content_bg {
        max-height: 10%;
        width: 80%;
    }

    .arrow {
        width: 5px;
        height: 5px;
        margin-right: 10px;
    }

    .info_image-firefly {
        width: 150px;
        height: 150px;
    }

    .info_description-text {
        max-width: 200px;
    }

    .info_description-title,
    .info_description-author {
        margin-bottom: 25px;
    }

    .info_descriprion-buttons {
        margin-top: 25px;
    }

    .info_descriprion-buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .description_button-buy,
    .description_button-cart {
        padding: 5px 10px;
        max-width: 33%;
        text-align: center;
    }
}